@font-face {
  font-family: 'iconfont';  /* project id 1106933 */
  src: url('//at.alicdn.com/t/font_1106933_puyel5xit2q.eot');
  src: url('//at.alicdn.com/t/font_1106933_puyel5xit2q.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1106933_puyel5xit2q.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1106933_puyel5xit2q.woff') format('woff'),
  url('//at.alicdn.com/t/font_1106933_puyel5xit2q.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1106933_puyel5xit2q.svg#iconfont') format('svg');
}
.jiantouL,.touxiang,.phone,.jiantouR,.dingdan,.elm,.znz,.mine,.jifen,.vip,.fuwu,.kefu1,.kefu2,.wenhao,.fdj,.jiaoyi,.gth,.duigou,.iphone,.cuohao,.xiaolian,.guoqi,.kuaican,.xiaochi,.guoshu,.tese,.shangdian,.dangao,.shangjia,.yinpin,.paixu,.juli,.xiaoliang,.qisongjia,.peisong,.pingfen,.fengniao,.pin,.bao,.zhun,.xin,.fu,.piao,.iconfont1,.iconfont2,.iconfont3,.iconfont4,.iconfont9,.iconfont10,.rmb,.duihao{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


